<h1>Employee#index</h1>


<ul>
  <% @customers.each do |customer| %>
    <li>
      <%= customer.id %>
      <%= customer.cust_id %>
      <%= customer.name %>
      <%= customer.mobile %>
      <%= customer.email %>
    </li>
  <% end %>
</ul>


<p>Find me in app/views/employee/index.html.erb</p>
